/COMPASCandidate.class
/MultinomialFairRanker$1.class
/MultinomialFairRanker$2.class
/MultinomialFairRanker$3.class
/MultinomialFairRanker$4.class
/MultinomialFairRanker.class
/MultinomialSimulator.class
/Candidate.class
